<div class="span3">
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header active" >Usúarios</li>
            <li class="active"><a href="#">Listar</a></li>
            <li class=""><a href="#">Cadastrar</a></li>
            <li class=""><a href="#">Noticias</a></li>
            <li class=""><a href="#">Pesquisar</a></li>
            <li class=""><a href="#">Imagens</a></li>
        </ul>
    </div>

</div>