@{
    ViewBag.Title = "Index";
}

<h2>Pagina sobre do sistema</h2>

<div class="row-fluid">
    <div class="span4">
        <h2>BootStrap</h2>
        <p>Framework para desenvolvimento front end </p>
        <p><a class="btn">Veja mais</a>
        </p>
    </div>

    <div class="span4">
        <h2>ASP.NET</h2>
        <p>Framework para desenvolvimento front end </p>
        <p><a class="btn">Veja mais</a>
        </p>
    </div>

    <div class="span4">
        <h2>C#</h2>
        <p>Linguagem de programação orientada a objeto... </p>
        <p><a class="btn">Veja mais</a></p>
    </div>
</div>


