@{
    ViewBag.Title = "Index";
}


<h1>Pagina Inicial</h1>

<div class="row-fluid">
    <div class="hero-unit">
        <h1>Asp.NET MVC</h1>
        <p>
            Esta é uma serie de video-aulas sobre ASP.NET MVC 4
        </p>
        <p><a class="btn btn-primary btn-large">Saiba mais</a></p>
    </div>
</div>

@section rodape
{
    <p>Meu roda pé especifico da pagina</p>
}